%h1
  -# = image_tag(@group.photo)
  -# = @group.name


%h3 Выбирите альбом:
%ul.thumbnails.per5
  - @group_albums.each do |album|
    %li.span2
      .thumbnail
        %a{href: "/groups/#{params[:id]}/albums/#{album.aid}"}
          = image_tag(album.thumb_src)
        %h4
          .break-word= album.title
