/* .thumbnail img{ width: 200px, height: 200px } */
ul.thumbnails.per5 > li:nth-child(5n+1) {
  clear: left;
}
.break-word {
  word-wrap: break-word;
  /* word-break: break-all;   */
}

ol.result .image {
  float:left;
  margin:0 5px 0 0;
}

ol.result .image img{
  display: block
}
ol.result .text{
  float:left;
}
.clear {
  clear: both;
}
